<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 计算案例1 -->
    <div id="app">
        姓:<input type="text" v-model:value="firstName"><br>
        名:<input type="text" v-model="lastName"><br>
        全名:<input type="text" v-model="fullNames()"><br>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                firstName:'张',
                lastName:'三'
            },methods: {
                fullNames(){
                    return this.firstName+"-"+this.lastName
                }
            },
        })
    </script>
    <hr>

    <!-- 使用计算属性 -->
    <div id="app2">
        姓:<input type="text" v-model:value="firstName"><br>
        名:<input type="text" v-model="lastName"><br>
        全名:<input type="text" v-model="fullName"><br>
    </div>
    <script>
        var vm=new Vue({
            el:'#app2',
            data:{
                firstName:'张',
                lastName:'三'
            },
            // 使用computed是不需要加括号的使用的时候直接v-model="fullName"就行了
            computed:{
                fullName:{
                    get(){
                        return this.firstName+'-'+this.lastName
                    },
                    set(value){
                        this.firstName=value.split('-')[0]
                        this.lastName=value.split('-')[1]
                    }
                }
            }
        })
    </script>
    <hr>
    <!-- 使用计算属性-简写 -->
    <div id="app3">
        姓:<input type="text" v-model:value="firstName"><br>
        名:<input type="text" v-model="lastName"><br>
        全名:<input type="text" v-model="fullName"><br>
        全名:<input type="text" v-model="fullName"><br>
        {{fullName}}
    </div>
    <script>
        var vm=new Vue({
            el:'#app3',
            data:{
                firstName:'张',
                lastName:'三'
            },
            // computed是有缓存的,当执行一次之后就会缓存下来,比如有2个全名,但是fullName
            // 只会执行一次
            computed:{
                fullName(){
                    return this.firstName+'-'+this.lastName
                }
            }
        })
    </script>
</body>
</html>